#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: white;
}
#button {
    width: 10vw;
    padding: 10px 20px;
    border: 2px solid yellow;
    border-radius: 10px;
}
#starwarslogo {
    width: 25vw;
}
.rectangle {
    width: 50vw;
    height: 50vh;
    border-radius: 10px;
    border: 2px solid yellow;

}
body {
    background-image: url("stars.jpeg");
}
