table {
  border-collapse: collapse;
}

.red,.blue,.yellow,.green {
  width: 600px;
  height: 100px;
}
.red {
  background-color: red;
}
.blue {
  background-color: blue;
}
.yellow {
  background-color: yellow;
}
.green {
  background-color: green;
}
 /* Suggestion
 .r_all {
  width: 600px;
  height: 100px;
 } */
