body {
    margin: 0;
    font-family: sans-serif;
}
.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
#portrait {
    width: 100%;
    position: relative;
    top: -70px;
}
.left-col {
    padding-top: 50px;
    background-color: lightgrey;
    text-align: center;
}
.left-hr {
    width: 80%;
}
.fab {
    margin: 20px;
}
.right-col {
    grid-column: 2/4;
    margin: 30px;
}
.skills-right {
    columns: 2;
}
