.square {
    width: 40px;
    height: 40px;
    border: 1px solid black;
}
.tile {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
    padding: 2px;
}
.container {
    display: grid;
    width: 700px;
    height: 700px;
    border: 1px solid blue;
    padding: 2px;
    grid-template-columns: repeat(5, 1fr);
}
.one {
    background-color: #ff7105;
}
.two {
    background-color: #ffb26d;
}
.three {
    background-color: #a74b00;
}
.four {
    background-color: #ffb26d;
}
.five {
    background-color: #a74b00;
}
.six {
    background-color: #ff7105;
}
.seven {
    background-color: #a74b00;
}
.eight {
    background-color: #ff7105;
}
.nine {
    background-color: #ffb26d;
}