.one {
    background-color: white;
}
.two {
    background-color: rgb(214, 79, 79);
}
.three {
    background-color: red;
}
.box {
    width: 40px;
    height: 40px;
    border: 1px solid black;
}
.tile {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    padding: 2px;
}
.container {
    display: grid;
    width: 700px;
    height: 400px;
    grid-template-columns:  repeat(4, 1fr);}