.contact-container {
    margin-top: 50px;
    background-color: #f6f6f6;

}
.contact-form {
    display: flex;
    flex-direction: row;
}
#sect1, #sect2 {
    width: 100%;
    padding: 30px;
}
.contact-title {
    display: flex;
    font-size: 30px;
    font-weight: 600;
    justify-content: center;
}
.input-field{
    height: 40px;
    width: 100%;
    margin: 15px 0px;
}
#textarea {
    width: 100%;
}
#contact-btn {
    width: 100%;
    margin-top: 10px;
    border-radius: 0;
    background-color: #f4511e;
    color: #fff;
    padding: 10px;
    border: 0;
}
@media screen and (max-width: 768px){
    .contact-form {
        flex-direction: column;
    }
    .contact-details {
        width: 100%;
    }
    
}