.container {
    display:flex;
    flex-direction: row;
    /* flex-direction: row-reverse; */
    /* flex-direction: column; */
    /* flex-direction: column-reverse; */

    /* justify-content: space-around; */
    /* justify-content: space-evenly; */
    justify-content: space-between;
    /* align-items: center; */
    /* align-items: flex-start; */
    /* align-items: flex-end; */
    align-items: stretch;
    align-content: center;
    width: 600px;
    height: 400px;
    border: 1px solid red;
    flex-wrap: wrap;
}
.item {
    border: 1px solid black;
    width: 100px;
}