.container {
    display: grid;
    /* grid-template-columns: 100px 100px 100px; */
    /* grid-template-columns: repeat(3, 100px); */
    /* grid-template-columns: 100px 2fr 1fr; */
    /* grid-column-gap: 10px;
    grid-row-gap: 10px; */
    grid-template-columns: 100px 100px;
    grid-template-rows: repeat(3, 50px);
    grid-gap: 20px;
    text-align: center;
}
.cell {
    border: 1px solid black;
}
